// MAIN HOTCOLD KEYBOARD COLORS
$HC_LIGHT_BLUE: #0099FF;
$HC_BLUE: #9900FF;
$HC_GREEN: #00CC00;
$HC_LIGHT_GREEN: #00FF00;
$HC_YELLOW: #FFCC00;
$HC_ORANGE: #FF9900;
$HC_RED1: #FF7373;
$HC_RED: #FF0000;

$HC_KEY_OK: #00CC00;
$HC_ALERT_YELLOW: #FFFFB2;
$HC_ALERT_YELLOW_BORDER: #FFD699;
// --------------------------------------------------------------------------------------

// close bar colors
$abort_button_color: red;
$abort_button_hover_color: #FFE6E6;
$redo_button_color: #0066ff;
$completed_button_bg_color: #94ff70;
$completed_button_color: green;
$pause_button_color: #cc3300;
$pause_button_hover_color: #F2CCBF; 
// --------------------------------------------------------------------------------------

// info bar label colors
$gross_speed_color: #ff9900;
$net_speed_color: #00cc00;
$timer_color: #bd9c59;
$accuracy_color: #0066FF;
$completed_color: #cc3300;
// --------------------------------------------------------------------------------------

// night theme colors
$NT_saved_block_color: #454545; 
$NT_border_color: #555555;
$NT_body_bg_color: #282828;
$NT_body_text_color: #999999;

// day theme colors
$DT_border_color: #C2C2C2;
$DT_body_bg_color: #F7F7F7;
$DT_body_text_color: #777777;

$create_course_button_color: #419641;
$custom_lesson_text_color: #0099FF;
$link_color: #0099FF;

// home section colors
$home_highlight_bg_color: #444444;
$home_highlight_text_color: #DEDEDE;

// help modal colors
$help_faq_border: #666666;

// difficulty label colors
$alert_green: #0ECE47;
$alert_orange: #FF8000;
$alert_red: #E54D2D;


