@import "_colors";

.course-info {
    .course-detail {

        .course-gist {
            font-size: 1em !important;
            padding-bottom: 2%;
            border-bottom: thin solid $home_highlight_text_color;

            .label-easy {
                background: $alert_green;
            }

            .label-medium {
                background: $alert_orange;
            }

            .label-hard {
                background: $alert_red;
            }

            .difficulty {
                padding: 0;
                .label {
                    font-size: 0.6em;
                    color: white;
                }
            }

        }
        .course-description {
            font-size: 0.8em !important;
            padding-top: 1%;
        }        
    }   
}