@import "_colors";

.course-info {
    .course-detail {

        .course-gist {
            font-size: 1em !important;
            padding-bottom: 2%;
            border-bottom: thin solid $home_highlight_text_color;

            .label {
                font-size: 0.7em;
                padding: 3px 6px;
                font-weight: 500;
            }
        }
        .course-description {
            font-size: 0.8em !important;
            padding-top: 1%;
        }        
    }   
}