@import "_colors";
@import "_transitions";

html, body {
    padding: 0;
    margin: 0;
    overflow: auto;

    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        background: #222222;
    }

    ::-webkit-scrollbar-thumb {
        background: #555555;
        -webkit-border-radius: 0;
        -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
    }

        a {
            color: $link_color;
            text-decoration: none;

                &:hover {
                    color: $link_color;
                    text-decoration: underline;
                }

                &:visited {
                    color: $link_color;
                    text-decoration: none;
                }

                &.btn-primary {
                    color: white;
                    text-decoration: none;

                        &:hover {
                            color: white;
                            text-decoration: none;
                        }

                        &:visited {
                            color: white;
                            text-decoration: none;
                        }
                }

                
        }

        &.day-theme {

            background-color: $DT_body_bg_color !important;
            color: $DT_body_text_color !important;

            input, textarea, select, option, .form-control:disabled {
                background-color: $DT_body_bg_color;
                color: $DT_body_text_color;
            }

        }

        &.night-theme {

            background-color: $NT_body_bg_color !important;
            color: $NT_body_text_color !important ;

            input, textarea, select, option, .form-control:disabled {
                background-color: $NT_body_bg_color;
                color: $NT_body_text_color;
            }   
        }

        .form-control:disabled {
            opacity: 0.5;
        }

        .modal-content {
            & div, & .close {
                background: $home_highlight_bg_color !important;
                color: $home_highlight_text_color;
                border-color: $help_faq_border !important;    
            }

            .modal-body {
                //height: 477px;
                //overflow-y: auto;    
            }
            
        }

        .popover {
            color: white;
            border-color: transparent;
            border-color: $HC_LIGHT_BLUE;
            background-color: $HC_LIGHT_BLUE;
            box-shadow: 0 0 1.5em $HC_LIGHT_BLUE;

            &.right .arrow:after {
                border-right-color: #696969;
            }

            &.left .arrow:after {
                border-left-color: #696969;
            }

            &.top .arrow:after {
                border-top-color: #696969;
            }

            &.bottom .arrow:after {
                border-bottom-color: #696969;
            }

        }

        .popover-title {
            background: #3D3D3D;
            border-color: #696969;
            text-align: center;
        }

        .popover-content {
            text-align: center;
            background: #696969;
        }

}

.twitter-section {
    color: $link_color;

        a {
            color: $home_highlight_text_color !important;
            text-decoration: none;

                &:visited, &:hover {
                    color: $home_highlight_text_color !important;
                }
        }

}

// overriding alert color styles
.alert-danger {
    background: $alert_red;
    color: white;
}

#read_info {
    position: static;
}

.m-none {
    margin: 0 !important;
}

.m-top-none {
    margin-top: 0 !important;
}

.m-right-half-em {
    margin-right: 0.5em !important;
}

.m-top-half-em {
    margin-top: 0.5em !important;
}

.border-bot-none {
    border-bottom: none !important;
}

.border-top-none {
    border-top: none !important;
}

.p-none {
    padding: 0 !important;
}

.p-top-half-em {
    padding-top: 0.5em !important;
}

.p-right-none {
    padding-right: 0 !important;
}

// default bootstrap color overrides
.btn-success {
    background-color: $create_course_button_color;
    &:hover {
        background-color: $create_course_button_color;
        box-shadow: 0 0 1.5em $create_course_button_color;   
    }
}

.label-success {
    background-color: $create_course_button_color;
}

.label-warning {
    background-color: $HC_ORANGE;
}

// -----------------------------------------------------------------------------------------------
// START: chrome scrollbar styles 
.night-theme {
    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        background: #222222;
    }

    ::-webkit-scrollbar-thumb {
        background: #555555;
        -webkit-border-radius: 0;
        -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
    } 

    textarea {
        border-color: #777777 !important;
        resize: none;
    }

    table {
        border-color: #777777 !important;
        th, td {
            border-color: #777777 !important;
        }
    }

}

.day-theme {
    ::-webkit-scrollbar {
        height: 7px;
        width: 7px;
        background: #DEDEDE;
    }

    ::-webkit-scrollbar-thumb {
        background: #A6A6A6;
        -webkit-border-radius: 0;
        -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
    }

    textarea {
        border-color: #A6A6A6 !important;
        resize: none;
    }

    table {
        border-color: #A6A6A6 !important;
        th, td {
            border-color: #A6A6A6 !important;
        }
    }   
}
// END: chrome scrollbar styles
// -----------------------------------------------------------------------------------------------

// START: hotcold header letter styles

.hotcold-brand {
        margin: auto 0;
        padding: 0;
        div {
            margin-top: 3px;
            vertical-align: middle;
        }
        .logo-section {
            margin: 0;
            font-size: 1.2em;
        }
        .keyboard-section {
            margin-top: 0;
            padding-top: 0.4em !important;
            font-size: 1.5em;
            color: $link_color;

            i {
                margin-right: 10px !important;
            }

            select {
                color: $link_color;
                border: thin solid $link_color;
                font-size: 0.75em;    
            }
            
        }
        a {
            text-decoration: none;
        }
}

.hotcold-letter {
    display: inline-block;
    border: medium solid #f2f2f2;
    border-radius: 0.313em;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.5em 0.7em;
    margin: 0 0.4em;
    font-size: 100%;
    color: grey;
    font-weight: bold;
    white-space: pre;
    text-decoration: none;
    font-style: normal;
}

.h {
    outline: none;
    color: $HC_RED;
    border-color: $HC_RED;
    box-shadow: 0 0 1.5em $HC_RED;
}

.o {
    outline: none;
    color: $HC_RED1;
    border-color: $HC_RED1;
    box-shadow: 0 0 1.5em $HC_RED1;
}

.t {
    outline: none;
    color: $HC_ORANGE;
    border-color: $HC_ORANGE;
    box-shadow: 0 0 1.5em $HC_ORANGE;
}

.c {
    outline: none;
    color: $HC_GREEN;
    border-color: $HC_GREEN;
    box-shadow: 0 0 1.5em $HC_GREEN;
}

.ll {
    outline: none;
    color: $HC_LIGHT_GREEN;
    border-color: $HC_LIGHT_GREEN;
    box-shadow: 0 0 1.5em $HC_LIGHT_GREEN;
}

.o-blue,
.l {
    outline: none;
    color: $HC_LIGHT_BLUE;
    border-color: $HC_LIGHT_BLUE;
    box-shadow: 0 0 1.5em $HC_LIGHT_BLUE;
}

.d {
    outline: none;
    color: $HC_BLUE;
    border-color: $HC_BLUE;
    box-shadow: 0 0 1.5em $HC_BLUE;
}



.alert-yellow {
    color: #cc6600;
    background-color: $HC_ALERT_YELLOW;
    border-color: $HC_ALERT_YELLOW_BORDER;
    line-height: 2em;
}



.page_holder {
    // margin-top: 3.3em;
}

// END: hotcold header letter styles
// -----------------------------------------------------------------------------------------------

// header button group styles
.header-download-group {

    .header-link {
        border: medium solid $HC_LIGHT_BLUE;
        color: $HC_LIGHT_BLUE;
        box-shadow: 0 0 0.5em $HC_LIGHT_BLUE;
        font-weight: bold;

            &:hover {
                box-shadow: 0 0 1.5em $HC_LIGHT_BLUE;
            }
    }

}

.header-info-group {
    .info-link {
        border: thin solid $HC_LIGHT_BLUE;
        color: $HC_LIGHT_BLUE;
        margin-top: 0.3em !important;
        // box-shadow: 0 0 0.5em $HC_LIGHT_BLUE;
        font-weight: bold;

            &:hover {
                box-shadow: 0 0 1.5em $HC_LIGHT_BLUE;
            }   
    }
}

// info section used in home page and course info
.info-section {
    background-color: $home_highlight_bg_color;
    color: $home_highlight_text_color;
    margin: 0.5em 0;
    padding: 1em;
    font-size: 1.33em;
    border-radius: 3px;
    line-height: 2em;
        &.tiny-text {
            font-size: 1em;
        }
}

.info-div {
    border: thin solid $home_highlight_bg_color;
    line-height: 1.5em;
}

// footer style
.hc-footer {
    border-top: thin solid $home_highlight_bg_color;
    margin-top: 5%;
    padding: 2% 0;
}