@import "_colors";
@import "_keyboard";
@import "_finger";

// --------------------------------------------------------------------------------------------------------------
// START: close bar/top_info bar label styles
.close_bar {
    position: absolute;
    top: 5%;
    left: 1%;
    height: 7%;
    width: 100%;

    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    vertical-align: middle;

        .night-theme & {
            border-bottom: thin solid $NT_border_color;        
        }

        .day-theme & {
            border-bottom: thin solid $DT_border_color;   
        }

        .btn {
            display: inline;
            font-weight: bold;
            font-size: 100%;
            padding: 0.4em 1.5em;
            border-radius: 0.5em; 
            cursor: pointer;
        }

        #abort_button {
            border: medium solid $abort_button_color;
            color: $abort_button_color;

                &:hover {
                    box-shadow: 0 0 1.5em $abort_button_color;        
                }
        }

        #redo_button{
            display: none;
            border: medium solid $redo_button_color;
            color: $redo_button_color;

                &:hover {
                    box-shadow: 0 0 1.5em $redo_button_color;        
                }
        }

        #completed_button {
            display: none;
            border: medium solid $completed_button_color;
            background-color: $completed_button_bg_color;
            color: $completed_button_color;
        }

        .pause-section .btn {
            display: none;
            border: medium solid $pause_button_color;
            color: $pause_button_color;

                &:hover {
                    box-shadow: 0 0 1.5em $pause_button_color;        
                }
        }

        #resume_button {
            background-color: $pause_button_color;
            color: white;
            box-shadow: 0 0 1em $pause_button_color;
            border: thin solid $pause_button_color;

                &:hover {
                    cursor: text;        
                }
        }

        & .middle-section .btn {
            cursor: text;
        }


}

.completion_indicator_holder {
    @extend .close_bar;
}

.info_space_bar {
    width: 100%;
    color: #CC6600;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0.5em;
    background-color: #FFFF00;
    border: medium solid #CC6600;
    padding: 0.4em 1.2em;
}

#space_to_resume {
    display: none;
}

.space_start{
    background-color: #FFFF00;
}

.space_resume{
    background-color: #FFFF00;
}
// END: close bar label styles

// --------------------------------------------------------------------------------------------------------------
// START: info bar label styles
.info_bar{
    position: absolute;
    top: 15%;
    left: 1%;
    height: 12%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0.5em;
    vertical-align: middle;
    line-height: 0.1em;
}

.info_bar > div.col-md-2 {
    top: 25%;
}

.info_bar_label {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    vertical-align: baseline;
    line-height: 1.5em;
}

.gross_speed_label {
    @extend .info_bar_label;
    color: $gross_speed_color;
}

.net_speed_label {
    @extend .info_bar_label;
    color: $net_speed_color;
}

.timer_label {
    @extend .info_bar_label;
    font-size: 1.2em;
    color: $timer_color;
}

.accuracy_label {
    @extend .info_bar_label;
    color: $accuracy_color;
}

.completed_label {
    @extend .info_bar_label;
    color: $completed_color;
}
// END: info bar label styles

// START: info bar info styles

.info_bar_info {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: baseline;
    line-height: 1em;
}

.gross_speed_info {
    @extend .info_bar_info;
    color: $gross_speed_color;
}

.net_speed_info {
    @extend .info_bar_info;
    color: $net_speed_color;
}

.timer_info {
    @extend .info_bar_info;
    font-size: 2.5em;
    color: $timer_color;
}

.accuracy_info {
    @extend .info_bar_info;
    color: $accuracy_color;
}

.completed_info {
    @extend .info_bar_info;
    color: $completed_color;
}

// END: info bar info styles
// --------------------------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------------------------
// START: lession view styles
#lesson_view{
    position: absolute;
    
    top: 30%;
    left: 1%;
    height: 5%;
    width: 100%;

    padding: 5% 3%;
    
    vertical-align: middle;
    line-height: 0.1em;

    font-size: 2.2em; 

    border-radius: 0;

    .night-theme & {
        border: thin solid $NT_border_color;        
    }

    .day-theme & {
        border: thin solid $DT_border_color;   
    }


}
// END: lession view styles
// --------------------------------------------------------------------------------------------------------------


